.section-title {
    margin-top: 25px;
    margin-bottom: 35px;
    border-bottom: 1px solid #e1e1e1;
    text-align: center;
}

.section-title::after {
    position: absolute;
    transform: translateY(-43%);
    height: 10px;
    width: 10px;
    background: #362cb1;
    border-radius: 50%;
    content: "";
}

@media screen and (max-width: 767px) {
    .section-title {
        margin-top: 75px;
    }
}