.abilities {
    padding: 0 15px 40px 15px;
}
.abilities__title {
    margin-top: 5px;
    padding: 3px 20px;
    background: #f3f3f3;
    text-align: center;
}

.abilities__wrap {
    padding: 20px;
}

.abilities__single-skill p {
    display: inline-block;
}

.abilities__single-skill_progress {
    height: 3px;
    box-shadow: 0 0 0;
    background: #e0e0e0;
}

.abilities__single-skill_progress-bar {
    height: 100%;
    background: #35373e;
}

.abilities__language {
    margin-top: 25px;
}

.abilities__language_text {
    padding-left: 20px;
    font-weight: 600;
}