.about-img img {
    width: 100%;
}

.about-info {
    overflow: hidden;
    padding-bottom: 30px;
    border-bottom: 1px solid #e1e1e1;
}

.about-info ul {
    font-size: 14px;
}

.about-info ul li p {
    display: inline-block;
    margin-right: 7px;
    font-weight: 600;
    line-height: 20px;
}

.about-content {
    padding-top: 35px;
}

ul {
    padding: 0;
    margin: 0;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}

li {
    list-style: none;
}

@media screen and  (max-width: 991px) {
    .about-info ul {
        font-size: 12px;
    }
}

@media screen and  (max-width: 767px) {
    .about-info {
        margin-top: 25px;
    }
}

@media screen and  (max-width: 575px) {
    .about-info ul {
        margin-left: 25%;
    }
}